# Find names of criminals from `Title` or `Description`

In [1]:
import pandas as pd
df = pd.read_csv('data/true_crime_channel_stats.csv')
df.head()

,Unnamed: 0,Title,PublishedDate,Views,Likes,Comments,Description,Month,Channel
0,0,A Killer Deadlier than Hitler? Joseph Stalin P...,2023-05-18,338049.0,14947.0,1454.0,"Hi friends, happy Thursday!\n\nWelcome to the ...",May,Bailey Sarian
1,1,His Waterbed Secrets - Life Sentence At 14?! J...,2023-05-15,1785418.0,67665.0,5289.0,"Hi friends, happy Monday!\n\nJoshua Phillips c...",May,Bailey Sarian
2,2,The Mass Murderer Nobody Talks About: Joseph S...,2023-05-11,743621.0,25668.0,2354.0,"Hi friends, happy Thursday!\n\nWelcome to the ...",May,Bailey Sarian
3,3,The Woodworking Wacko - Psychopath Cameron Hoo...,2023-05-08,2262774.0,75106.0,4589.0,For 16 free meals with HelloFresh PLUS free sh...,May,Bailey Sarian
4,4,This Bloody Crime Saved Our Lives: The Dark Hi...,2023-05-04,708164.0,26357.0,1511.0,"Hi friends, happy Thursday!\n\nWelcome to the ...",May,Bailey Sarian

Are the names easier to find in one YouTuber more so than the rest based on titles?  Let's look.

In [2]:
df.shape

(10126, 9)

In [4]:
# read in smaller dataframes
names = ['bailey','jcs','buzzfeed','explore','kendall','bella','eleanor','chapter','coffee','grande','harlowe',
         'kirsty','forty8','annie','monsters','dreading','casual','orchard','miles','reel','shop']
for name in names:
    df_path = "data/"
    df_path += name
    df_path += ".csv"
    vars()[name] = pd.read_csv(df_path)
    print(f"{name} df read in with shape {vars()[name].shape}")

bailey df read in with shape (524, 9)
jcs df read in with shape (20, 9)
buzzfeed df read in with shape (676, 9)
explore df read in with shape (421, 9)
kendall df read in with shape (686, 9)
bella df read in with shape (444, 9)
eleanor df read in with shape (239, 9)
chapter df read in with shape (491, 9)
coffee df read in with shape (164, 9)
grande df read in with shape (2842, 9)
harlowe df read in with shape (503, 9)
kirsty df read in with shape (239, 9)
forty8 df read in with shape (1375, 9)
annie df read in with shape (442, 9)
monsters df read in with shape (304, 9)
dreading df read in with shape (86, 9)
casual df read in with shape (245, 9)
orchard df read in with shape (27, 9)
miles df read in with shape (161, 9)
reel df read in with shape (213, 9)
shop df read in with shape (24, 9)

Examine titles and descriptions of each to find best from which to start getting case names.

In [5]:
# read in dataframes of just title columns (also made in last notebook)
for name in names:
    title_df = name + "_titles"
    df_path = "data/" + title_df + ".csv"
    vars()[title_df] = pd.read_csv(df_path)
    print(f"{title_df} df read in with shape {vars()[title_df].shape}")

bailey_titles df read in with shape (524, 2)
jcs_titles df read in with shape (20, 2)
buzzfeed_titles df read in with shape (676, 2)
explore_titles df read in with shape (421, 2)
kendall_titles df read in with shape (686, 2)
bella_titles df read in with shape (444, 2)
eleanor_titles df read in with shape (239, 2)
chapter_titles df read in with shape (491, 2)
coffee_titles df read in with shape (164, 2)
grande_titles df read in with shape (2842, 2)
harlowe_titles df read in with shape (503, 2)
kirsty_titles df read in with shape (239, 2)
forty8_titles df read in with shape (1375, 2)
annie_titles df read in with shape (442, 2)
monsters_titles df read in with shape (304, 2)
dreading_titles df read in with shape (86, 2)
casual_titles df read in with shape (245, 2)
orchard_titles df read in with shape (27, 2)
miles_titles df read in with shape (161, 2)
reel_titles df read in with shape (213, 2)
shop_titles df read in with shape (24, 2)

In [7]:
pd.set_option('display.max_colwidth', 180)
explore_titles.head(9)

   Unnamed: 0                                                        Title
0           0               When An Evil Mother Realizes She's Been Caught
1           1              Predator Realizes He's Going To Prison For Life
2           2         When A Psychopath Realizes A Little Girl Tricked Him
3           3                             When the Detective is a Criminal
4           4              When A Killer Doesn't Realize He's Being Filmed
5           5  When Police Unexpectedly Film The Killer At The Crime Scene
6           6         Detective Realizes The Victim Is Actually The Killer
7           7               When The Killer Doesn't Realize What He's Done
8           8                  The Most Chilling Interrogation Ever Filmed

In [8]:
explore[['Description']].head(9)

                                                                                                                                                                           Description
0  In today's true crime documentary, we're covering the case of Deasia Watkins.\n\nNote for YouTube's review team, here is the context of the video: this is a documentary and aut...
1  In today's true crime documentary, we're covering the case of Mark Gooch.\n\nNote for YouTube's review team, here is the context of the video: this is an educational documentar...
2  In today's true crime documentary, we're covering the case of Christopher Gribble and Steven Spader.\n\nNote for YouTube's review team, here is the context of the video: this i...
3  In today's true crime documentary, we're covering the case of Daniel Myers.\n\nNote for YouTube's review team, here is the context of the video: this is an educational document...
4  In today's true crime documentary, we're covering the case of William Riley Gaul.\n\nNote for YouTube's review team, here is the context of the video: this is an educational do...
5  In today's true crime documentary, we're covering the case of Ngor Makuey.\n\nNote for YouTube's review team, here is the context of the video: this is an educational documenta...
6  In today's true crime documentary, we're covering the case of Samantha Wohlford.\n\nNote for YouTube's review team, here is the context of the video: this is an educational doc...
7  In today's true crime documentary, we're covering the case of Jeffrey Hazelwood.\n\nNote for YouTube's review team, here is the context of the video: this is an educational doc...
8                                                           The most CHILLING interrogation ever filmed...\n\nWatch the full documentary here: https://youtu.be/OoWSWlAX6Sk\n\n#shorts

Jackpot!  ...the case of `name` is in every Explore description.  Let's get our first list.

In [12]:
new = explore["Description"].str.split("case of ", n = 1, expand = True)[1]
new2 = new.str.split('.\n', n=1, expand=True)
new2

,0,1
0,Deasia Watkins,"\nNote for YouTube's review team, here is the context of the video: this is a documentary and authoritative news piece based on actual police documents and case files. Our goal..."
1,Mark Gooch,"\nNote for YouTube's review team, here is the context of the video: this is an educational documentary and authoritative news piece based on actual police documents and case fi..."
2,Christopher Gribble and Steven Spader,"\nNote for YouTube's review team, here is the context of the video: this is an educational documentary and authoritative news piece based on actual police documents and case fi..."
3,Daniel Myers,"\nNote for YouTube's review team, here is the context of the video: this is an educational documentary and authoritative news piece based on actual police documents and case fi..."
4,William Riley Gaul,"\nNote for YouTube's review team, here is the context of the video: this is an educational documentary and authoritative news piece based on actual police documents and case fi..."
...,...,...
416,None,None
417,None,None
418,None,None
419,None,None
420,None,None

In [16]:
explore_list = new2[new2[0].notna()][0]
explore_list[:50]

0                                                                                                                                                                          Deasia Watkins
1                                                                                                                                                                              Mark Gooch
2                                                                                                                                                   Christopher Gribble and Steven Spader
3                                                                                                                                                                            Daniel Myers
4                                                                                                                                                                      William Riley Gaul
5                                                                                                                                                                             Ngor Makuey
6                                                                                                                                                                       Samantha Wohlford
7                                                                                                                                                                       Jeffrey Hazelwood
9                                                                                                                                                        Anthony Barbeau and Nathan Paape
21                                                                                                                                                                            Dakota Wall
22                                                                                                                                                                       Stephen McDaniel
23                                                                                                                                                                         Lindsay Partin
24                                                                                                                                                                          Zachary Davis
25                                                                                                                                                                          Thayne Ormsby
26                                                                                                                                                                           Isaiah Sweet
27                                                                                                                                                                      Hunter Tash-Smith
28                                                                                                                                                                          Cali Anderson
29                                                                                                                                                                        Matthew Hoffman
30                                                                                                                                                                          Andrew Magill
31                                                                                                                                                                          Seath Jackson
32                                                                                                                                                                           Brandon Hole
33                                                                                                                                                                        Michael Parks..
34                                                                                                                                                                           Karl Karlsen
35                                                                                                                                                             the Halloween Candy Killer
36                                                                                                                                                                           Ana Trujillo
37                                                                                                                                                                      Michael Hernandez
39                                                                                                                                                                          Chelsea Bruck
40                                                                                                                                                                        the CCTV killer
41                                                                                                                                                                        Mitchelle Blair
42                                                                                                                                                                      Nicholas Browning
43                                                                                                                                                                            Sarah Stern
44                                                                                                                                                                        Keith Randulich
45                                                                                                                                                                            Ellen Friar
46                                                                                                                                                                           Alexis Avila
47                                                                                                                                                                          Markeith Loyd
49                                                                                                                                                                      Alyssa Bustamante
50                                                                                                                                                                            Shawn Grate
51                                                                         a schizophrenic 12-year-old and the shared delusions that caused her and her best friend to do the unthinkable
52                                                                                                                                                                      the teen slashers
53                                                                                                                                                                         Todd Kohlhepp.
56                                                                               the Wichita Massacre and how a woman's life was saved by something completely unexpected: her hair clip.
57                                                                                                                                                                           Randy Stair.
62    the World of Warcraft murder. In March of 2010, Kimberly Proctor was lured to the home of her two high school friends. Little did she know that the two had been planning her de...
66    the Delphi murders and the latest updates with new possible leads REVEALED. In February of 2017, Abigail Williams and Liberty German went on a walk on the Monon High Bridge Tra...
67    Richard Chase, the serial killer who made HUMAN SMOOTHIES. This true story is INSANE and little-known. In the 1970s, Richard Chase began his killing spree in Sacramento, Califo...
68    Jesse Shane Kempson: also known as the Tinder killer. In December of 2018, Jesse found himself scrolling through Tinder in search of a date, as he frequently did. While doing s...
70    Mary Vincent. While hitchhiking in 1978, Mary Vincent came across a strange man. Though reportedly, some nearby girls tried to warn her that this man seemed creepy, Mary Vincen...
71    Tatiana Dugger, a missing California teen who was discovered deceased by a hiker in a remote area. Tatiana Dugger disappeared just three months prior, vanishing without a trace...
72    Sarah Everard, a missing woman who was caught on CCTV just MOMENTS before her murder. On the evening of March 3rd, 2021, Sarah Everard disappeared in South London after leaving...
73    a young boy named Roman who used one life-saving trick on his mother's locked phone to call 911 to the story of a young girl who learned an important lesson during a school ass...
Name: 0, dtype: object